*{
    text-align: justify;
    color: aliceblue;
}

html{
    background-color: black;
}

.navbar{
    background-color: #1DB954;
    font-size: 20px;
    

}

.navbar ul{
    padding: 10px;
    border: 2px solid white;
}

.navbar li{
    display: inline;

}

.navbar li a{
    text-decoration: none;
    padding: 10px;
}  

.navbar a:hover{
    color: black;
}

h1{
    text-align: center;
}

.kalamkar{
    border: 3px solid #1DB954;
    float: left;
    width: 45%;
    margin: 10px;
    padding: 10px;
    height: 200px;
    font-size: larger;
}

#butn{
    cursor: pointer;
    color: black;
}

.navbar input{
    float: right;
    padding: 1px;
    margin: -22px 5px;
    border: 2px solid white;
    border-radius: 10px;
}

 #butn:hover{
    color: #1DB954;
}

a:hover{
    color: #1DB954;
}  

#krsna{
    padding: 5px;

}

#raaftar{
    padding: 5px;
}

.bantairecords{
    border: 3px solid #1DB954;
    float: left;
    width: 45%;
    margin: 10px;
    padding: 10px;
    height: 200px;
    font-size: larger;
}

.gullygang{
    border: 3px solid #1DB954;
    float: left;
    width: 93%;
    clear: both;
    margin: 10px;
    padding: 10px;
    font-size: larger;
}